# Core dependencies
schedule
requests
pyyaml
smbus2
RPi.bme280
pyserial
gpiozero

# Cloud storage libs (Google Drive / Sheets)
gspread
google-auth>=2.47.0
google-api-python-client>=2.188.0
google-auth-httplib2
google-auth-oauthlib

# Testing
pytest
pytest-cov
tenacity
