# Core dependencies
schedule
pyyaml
smbus2
RPi.bme280
pyserial
gpiozero

# Cloud storage libs (Google Drive / Sheets)
gspread
google-auth>=2.47.0
google-api-python-client>=2.188.0

# Resilience
tenacity
